
.bgcolor{
    background-color: black;
}
.p1{
    font-size: 16px;
    font-family: Sans-serif;
    font-weight: normal;
    line-height: normal;
    color: deeppink;
    
  }
  
  .p2{
    font-size: 16px;
    font-family: Sans-serif;
    font-weight: lighter;
    line-height: 1.6;
    color:red;
  }
  
  .p3{
    font-size: 16px;
    font-family: Sans-serif;
    font-weight: bold;
    line-height: 200%;
    color: blueviolet;
  }
  
  h1, h3, h4{
    font-family: Sans-serif;
    color:green;
  }
  